.header img {
 float: left;
 width: 40px;
 height: 40px;  
 margin: 5px;
 background-color: white;
}

.header h1 {
 float: left;  
 color: black;
 margin: 7px 7px 5px 0px;  
}

.social img {
 width: 20px;
 height: 20px;  
 margin: 17px 2px 0px 2px;
 background-color: white;
}

.TopNav {
 list-style-type: none;
 morgin: 0;
 padding: 0;
 overflow: hidden;
 background-color: black;
}

li {
 float: left;
}

.TopNav li a {
 display: inline-block;
 color: white;
 text-align: center;
 padding: 15px 20px;
 text-decoration: none;
 transition: 0.3s;
 font-size: 17px;
}

.TopNav li a:hover {
 background-color: red;
}

.TopNav li.icon {display: none;}

/* When the screen is less than 768 pixels wide,
 hide all list items, except for the 
 first one ("Home"). Show the list item that contains
 the link to open and close the TopNav (li.icon) */
@media screen and (max-width:768px) {
  .TopNav li:not(:nth-child(-n+4)) {display: none;}
  .TopNav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:768px) {
  .TopNav.Responsive {position: relative;}
  .TopNav.Responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .TopNav.Responsive li {
    float: none;
    display: inline-block;
  }
  .TopNav.Responsive li a {
    display: block;
    text-align: left;
  }
}

@media screen and (max-width:600px) {
  .TopNav li:not(:nth-child(-n+3)) {display: none;}
  .TopNav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:600px) {
  .TopNav.Responsive {position: relative;}
  .TopNav.Responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .TopNav.Responsive li {
    float: none;
    display: inline;
  }
  .TopNav.Responsive li a {
    display: block;
    text-align: left;
  }
}

@media screen and (max-width:320px) {
  .TopNav li:not(:nth-child(-n+2)) {display: none;}
  .TopNav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:320px) {
  .TopNav.Responsive {position: relative;}
  .TopNav.Responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .TopNav.Responsive li {
    float: none;
    display: inline;
  }
  .TopNav.Responsive li a {
    display: block;
    text-align: left;
  }
}

div.box {
 display: inline-block;
 margin: 20px; 
}

div.box img {
 width: 200px;
 height: 150px;
 float: left;
 border: 1px solid gray;
}

div.box img:hover {
 border: 1px solid #ccc;
}

/* yet to be tested with real img */
div.box img img {
 width: 100%;
 height: auto;
}

div.desc {
 padding: 15px;
 text-align: center;
}

#FooterMenu {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color:#f3f3f3;
}

#FooterMenu li {
 float: left;
}

#FooterMenu li a {
 display: block;
 text-align: center;
 padding: 15px 50px;
 text-decoration: none;
}


.Footer p {
 text-align: center;
 font-size: 10px;
}