.header img {
	position: static;
	top: 10px;
	left: 150px;
 	width: 100px;
  	height: 100px;
  	background: #555;
}

.header h1 {
	text-align: center;	
	font-size: 60px;
	font-color: black;
}

.header p {
	font-size: 25px;
	font-color: black;
	text-align: center;
}

.Photo {
	display: inline-block;
	width: 200px;
	height: 150px;
	margin: 30px;
	border: 2px solid gray;
	font-size: 10px;
}

#FooterMenu {
	padding: 0;
	text-align: center;
}

#FooterMenu li {
	display: inline;
	font-size: 13px;
}

.Footer a {
	float: centers;
}

.Footer p {
	text-align: center;
	font-size: 10px;
}