
.jumbotron {
  background-size: cover;
  height: 100px;
  background-color: #7ec0ee;
  color: #fff;
  text-align: center;
  height: 50%;
}

.Photo {
	display: inline-block;
	width: 200px;
	height: 150px;
	margin: 30px;
	border: 2px solid gray;
	font-size: 10px;
}

#FooterMenu {
    padding: 0;
    text-align: center;
}

#FooterMenu li {
    display: inline;
    font-size: 13px;
}

.Footer {
	height: 100px;
	text-align: center;
	font-size: 10px;
}
