a: link {
	color:;
	background-color: ;
	text-decoration: underline;
}

a: visited {
	color: purple;
	background-color: ;
	text-decoration: ;
}

a: hover {
	color: blue;
	background-color: blue;
	text-decoration: underline;
}

a: active {
	color: red;
	background-color:yellow ;
	text-decoration:underline ;
}

.logo img {
	float: left;
 	width: 60px;
  	height: 60px;
  	background: #555;
  	margin: 0 10px 0 20px;
}


.header h1 {
	font-size: 35px;
	font-color: black;
}

.header p {
	font-size: 15px;
	font-color: black;
	margin:-10px 0 20px 0;
}

.socialmedia {
	float: right;
}	

.Photo {
	display: inline-block;
	width: 200px;
	height: 150px;
	margin: 30px;
	border: 2px solid gray;
	font-size: 10px;
}

#FooterMenu {
	padding: 0;
	text-align: center;
}

#FooterMenu li {
	display: inline;
	font-size: 13px;
}

.Footer p {
	text-align: center;
	font-size: 10px;
}