html, body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
	float: left;
 	padding: 15px;
 	width: 100%;
}
@media only screen and (min-width: 600px) {
/* For tablets: */
	.col-m-0 {width: 0.00%;}
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
 	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
/* For desktop: */
	.col-0 {width: 0.00%;}
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}   
	.col-12 {width: 100%;}
}

/* unvisited link */
a:link {
	color: black;
	text-decoration:underline;
}
/* visited link */
a:visited {
	color: purple;
}

h1 a:visited { 
	text-decoration:none; 
}

/* mouse over link */
a:hover {
	color: red;
}

/* clicked and loading link */
a:active {
	color: blue;
}

/* mouse over image box link*/
box:hover {
	color: red;
}